#MovieDetail {
    align-items: center;
}

.details {
    display: inline-block;
}

iframe {
    padding: 20px;
    width: 90vw;
    height: 50vh;
    border: none;
}

.description {
    padding: 5vw 10vw;
}